#header {
	text-align: center;
}

#content {
	width: 960px;
}

.square 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    height: 2.5rem;
    width: 2.5rem;
    background-color: white;

    border: 1px solid black;
}	